body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.head span {
    font-size: 14px;
}

.form-container,
.list-container {
    background-color: #dfe4ea
}

.form-container form label {
    font-size: 12px;
}

.list-container table th {
    font-size: 14px;
    padding: 2px 8px;
}

.list-container table td {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px;
    background-color: transparent;
    transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}

.list-container table tr:hover td {
    background-color: #f1f2f6;
    transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}

.list-container table tr:hover td.delete {
    color: #ff4757;
}